<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
    name="XDCtools IDE Support"
    id="org.eclipse.rtsc.xdctools.product.ui"
    version="3.50.4.43"
    provider-name="Texas Instruments">

    <extension point="org.eclipse.help.toc">
      <tocProvider class="org.eclipse.rtsc.xdctools.ui.help.HelpTocProvider"/>
    </extension>

    <extension point="org.eclipse.help.contentProducer">
        <contentProducer>
            <producer class="org.eclipse.rtsc.xdctools.ui.help.HelpContentProducer"/>
        </contentProducer>
    </extension>

    <extension
         point="org.eclipse.core.variables.dynamicVariables">
     <variable 
        name="XDCROOT"
        resolver="org.eclipse.rtsc.xdctools.ui.macros.MacroResolver"
        description="Returns the absolute path to the location of XDCtools selected in Window->Preferences->CCS->RTSC preference page. If no XDCtools version is selected, returns the location of the highest available version.">
     </variable>
   </extension>


    <extension point="org.eclipse.ui.editors.templates">
      <include file="templates/filetemplates.xml"/>
    </extension>

</plugin>
