<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
    name="MATHLIB C674x 3.1.2.1"
    id="ti.mathlib.c674x.rtscRegistry_3.1.2.1"
    version="3.1.2.1"
    provider-name="Texas Instruments Inc.">

    <extension point="org.eclipse.help.toc">
        <toc file="toc_top.xml" primary="true"/>
        <toc file="toc_cdoc.xml"/>
    </extension>

    <extension point="org.eclipse.help.contentProducer">
        <contentProducer>
            <producer class="org.eclipse.rtsc.xdctools.ui.help.HelpContentProducer"/>
        </contentProducer>
    </extension>
   
    <extension point="org.eclipse.rtsc.xdctools.ui.productInfo">
        <repository location="../../../packages"/>
        <docs location="../../.."/>
        <info
            installLocation="../../.."
            productName="MATHLIB C674x"
	        versionNumber="3.1.2.1"
        />
    </extension>

    
    <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProductTypes">
        <productType
            id="ti.mathlib.c674x"
            name="MATHLIB C674x"
            folderPrefix="MATHLIB C674x"
            rootMacroName="TI_MATHLIB_C674X_INSTALL_DIR"/>
    </extension>
    
    <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProducts">
        <product
            productTypeId="ti.mathlib.c674x"
            version="3.1.2.1"/>
    </extension>

</plugin>
