<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin
    name="DSPLIB C64x+ 3.4.0.0"
    id="ti.mas.dsplib.c64Px.rtscRegistry_3.4.0.0"
    version="3.4.0.0"
    provider-name="Texas Instruments Inc.">

    <extension point="org.eclipse.help.toc">
        <toc file="toc_top.xml" primary="true"/>
        <toc file="toc_cdoc.xml"/>
    </extension>

    <extension point="org.eclipse.help.contentProducer">
        <contentProducer>
            <producer class="org.eclipse.rtsc.xdctools.ui.help.HelpContentProducer"/>
        </contentProducer>
    </extension>
   
    <extension point="org.eclipse.rtsc.xdctools.ui.productInfo">
        <repository location="../../../packages"/>
        <docs location="../../.."/>
        <info
            installLocation="../../.."
            productName="DSPLIB C64x+"
	        versionNumber="3.4.0.0"
        />
    </extension>

    
    <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProductTypes">
        <productType
            id="ti.mas.dsplib.c64Px"
            name="DSPLIB C64x+"
            folderPrefix="DSPLIB C64x+"
            rootMacroName="TI_MAS_DSPLIB_C64PX_INSTALL_DIR"/>
    </extension>
    
    <extension point="org.eclipse.rtsc.xdctools.managedbuild.core.rtscProducts">
        <product
            productTypeId="ti.mas.dsplib.c64Px"
            version="3.4.0.0"/>
    </extension>

</plugin>
